<section id="fav">
    <article *ngFor="let favDatas of favData">
        <div class="col-sm-12 well">
            <figure class="col-sm-4">
                <img class="img-responsive thumbnail" src="{{favDatas.album.image[2]['#text']}}"  id="detail-img" >
            </figure>
            <div class="col-sm-8">
                <h5>Name:</h5><p>{{favDatas.album.name}}</p>
                <h5>Artist:</h5><p>{{favDatas.album.artist}}</p>
                <!-- <h5>Published:</h5><p>{{favDatas.album.wiki.published}}</p>
                <h5>Summary:</h5><p>{{favDatas.album.wiki.summary}}</p>          -->
                <button class="btn btn-default" type="button" (click)=deleteFav(favDatas.id)>Delete from Favourite</button>
                <button class="btn btn-default" type="button" data-toggle="modal" data-target="#mymodal">Add Comment</button>
                <div class="modal fade" id="myModal">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Comment</h4>
                          </div>
                          
                          
                          <div class="modal-body">  
                            <form class="form-horizontal">        
                                <div class="form-group">
                                  <div class="col-lg-10">
                                    <textarea class="form-control" id="inputComment" placeholder="comment" rows="3"></textarea>
                                  </div>
                                </div>
                              </form>
                            </d iv>
                            
                            <div class="modal-footer">
                              <button class="btn btn-default" data-dismiss="modal" type="button">Close</button> <button class="btn btn-primary" type="button">Comment</button>
                            </div>
                          </div>
                        </div>
                    </div>  
            </div>
        </div>
         
    </article>
       
</section>



