<h3>Search Results:</h3>
<div class="row">
    <div *ngFor="let iterate1 of searchData.results.albummatches.album">
        <h4 (click)="detils({{iterate1.name}},{{iterate.artist}})">{{iterate1.name}}</h4>
    </div>
    <!-- <div *ngFor="let iterate2 of searchDataArtist.results.artistmatches.artist">
        <h4><a href="{{iterate2.url}}" >{{iterate2.name}}</a></h4>
    </div> 
    <div *ngFor="let iterate3 of searchDataTrack.results.trackmatches.track">
        <h4><a href="{{iterate3.url}}" >{{iterate3.name}}</a></h4>
    </div>          -->
</div>



